---
BasedOnStyle: Microsoft
#AlignConsecutiveAssignments: AcrossComments #Consecutive
#AlignConsecutiveMacros: AcrossComments
#AlignConsecutiveBitFields: AcrossComments #AcrossEmptyLinesAndComments
#AlignConsecutiveDeclarations: AcrossComments
Cpp11BracedListStyle: false
AlignArrayOfStructures: Left
AlignEscapedNewlines: Left
PointerAlignment: Left
FixNamespaceComments: true
NamespaceIndentation: All
BreakConstructorInitializers: BeforeComma
#BreakBeforeBraces: Allman
AlignAfterOpenBracket: BlockIndent
AllowShortLambdasOnASingleLine: Empty
SeparateDefinitionBlocks: Always
BinPackArguments: false
BinPackParameters: false
AlwaysBreakTemplateDeclarations: Yes
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 40
PenaltyBreakFirstLessLess: 50
PenaltyBreakOpenParenthesis: 60
ColumnLimit: 180
BraceWrapping:
  AfterUnion: true
  BeforeWhile: true
  BeforeLambdaBody: false
RequiresClausePosition: WithPreceding
KeepEmptyLinesAtTheStartOfBlocks: false
...
