---
BasedOnStyle: Microsoft
Standard: Latest
PointerAlignment: Left
ReferenceAlignment: Pointer
AlignConsecutiveAssignments: AcrossComments #Consecutive
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveBitFields: AcrossComments #AcrossEmptyLinesAndComments
#AlignConsecutiveDeclarations: AcrossComments
BreakAfterAttributes: Always
RequiresExpressionIndentation: OuterScope
AlignArrayOfStructures: Right
AlignEscapedNewlines: Left
FixNamespaceComments: true
#LambdaBodyIndentation: OuterScope
#NamespaceIndentation: All
BreakConstructorInitializers: BeforeComma
RemoveSemicolon: true
AlignAfterOpenBracket: AlwaysBreak #Align #BlockIndent
AllowShortLambdasOnASingleLine: Empty
SeparateDefinitionBlocks: Always
BinPackArguments: true
BinPackParameters: true
ExperimentalAutoDetectBinPacking: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: Yes
PenaltyBreakAssignment: 160
PenaltyBreakBeforeFirstCallParameter: 40
PenaltyBreakFirstLessLess: 50
PenaltyBreakOpenParenthesis: 60
ColumnLimit: 160
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  BeforeCatch: true
  BeforeWhile: true
  AfterExternBlock: true
  AfterNamespace: true
  AfterClass: true
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  AfterFunction: true
  BeforeLambdaBody: false
RequiresClausePosition: WithPreceding
KeepEmptyLinesAtTheStartOfBlocks: false
#QualifierAlignment: Right ###let reshareper do this work
QualifierAlignment: Custom
QualifierOrder:
  - friend
  - inline
  - static
  - constexpr
  - type
  - const
UseTab: Never
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '"[^\/\\]*\.h.*"'
    Priority: 0
  - Regex: '".*[\/\\].*"'
    Priority: 0
    SortPriority: 1
  - Regex: '<boost/.*>'
    Priority: 1
  - Regex: '<fmt/.*>'
    Priority: 2
  - Regex: '<immenu.*h>'
    Priority: 3
  - Regex: '<windows\.h>'
    Priority: 4
  - Regex: '<.*/.*\.h.*>'
    Priority: 4
    SortPriority: 5
...
